[submodule "How To Use Git Submodules with GitHub Desktop"]
	path = "guides/How To Use Git Submodules with GitHub Desktop"
	url = https://github.com/8rents/How-To-Use-Git-Submodules-with-GitHub-Desktop
